$lime: rgb(155, 236, 174);
$red: rgb(200, 0, 0);
$purple: rgb(152, 140, 255);

$background: #111111;


.key[data-type="number"] {
  color: $purple;
}

.value[data-type="number"] {
  color: $purple;
}

.value[data-type="string"] {
  &[data-content="win"] {
    color: $lime;
  }

  &[data-content="loss"] {
    color: $red;
  }

  @function reverse($list) {
    $result: ();

    @for $i from length($list) * -1 through -1 {
      $result: append($result, nth($list, abs($i)));
    }

    @return $result;
  }

  $colors: red, red, yellow, chartreuse, chartreuse;
  $ratings: "--", "-", "o", "+", "++";
  $cityKeys: "economy", "government", "hygiene", "awareness";
  $pathogenKeys: "infectivity", "mobility", "duration", "lethality";
  $size: large;

  @each $key in $cityKeys {
    @each $rating in $ratings {
      $index: index($ratings, $rating);
      $color: nth($colors, $index);

      &[data-key="#{$key}"] {
        &[data-content="#{$rating}"] {
          font-size: $size;
          color: $color;
        }
      }
    }
  }

  @each $key in $pathogenKeys {
    $reversedColors: reverse($colors);

    @each $rating in $ratings {
      $index: index($ratings, $rating);
      $color: nth($reversedColors, $index);

      &[data-key="#{$key}"] {
        &[data-content="#{$rating}"] {
          font-size: $size;
          color: $color;
        }
      }
    }
  }
}
